<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        .card {
    width: 900px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-left: 100px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    flex: 0%; 
    padding: 5px; 
    border-radius: 5px;
}
#button{
    margin-top: 30px;
}
#img{
    margin-top: 20px;
    margin-left: 15px;
}
space
    </style>
</head>
<body>
    <h1>Flight Details</h1>
    <div id="flightDetails">
        <h2>Available Flights:</h2>
    </div>
    {% for flight in flights %}
    <div class="card">
        <div class="flex-container">
            <div class="flex-item"><img src="/static/img/ss.jpg" alt="" width="50px" height="50px" id="img"></div>
            <div class="flex-item">
                <div><h5>Flight number:</h5></div>
                <div><p> {{ flight.flight_number }}</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Flight From:</h5></div>
                <div><p>{{ flight.from }}</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Flight To:</h5></div>
                <div><p>{{ flight.to }}</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Depature Time:</h5></div>
                <div><p>  {{ flight.departure_time }}</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Arrival Time:</h5></div>
                <div><p>{{flight.arriving_time}}</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Time:</h5></div>
                <div><p>hgh</p></div>
            </div>
            <div class="flex-item">
                <div></div>
                <div><button id="button">BOOK</button></div>
            </div>
        </div>
    </div>
    <div id="space"></div>
    {% endfor %}

</body>
</html>
