<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        .card {
    width: 900px;
    border: 1px solid #ccc;
    padding: 3px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    flex: 0%; 
    padding: 5px; 
    border-radius: 5px;
}
    </style>
</head>
<body>
    <div class="card">
        <div class="flex-container">
            <div class="flex-item">img</div>
            <div class="flex-item">
                <div><h5>Flight number</h5></div>
                <div><p>hgh</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Time:</h5></div>
                <div><p>hgh</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Depature Time:</h5></div>
                <div><p>erbe</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Arrival Time:</h5></div>
                <div><p>hgh</p></div>
            </div>
            <div class="flex-item">
                <div><h5>Time:</h5></div>
                <div><p>hgh</p></div>
            </div>
            
        </div>
    </div>
</body>
</html>
